<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FyPro40</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>pack.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>pack.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Wall</servlet-name>
    <servlet-class>pack.WallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wall</servlet-name>
    <url-pattern>/wall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <jsp-file>/userProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Chat</servlet-name>
    <servlet-class>pack.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chat</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
</web-app>